"*":
  "atom-beautify":
    python:
      default_beautifier: "yapf"
      formatter: "yapf"
  "autocomplete-python":
    useKite: false
  core:
    disabledPackages: [
      "symbols-view"
      "MagicPython"
    ]
  editor:
    tabType: "soft"
  "exception-reporting":
    userId: "aee53ac6-b19d-4606-85ca-4579c8516c8a"
  "linter-python":
    executablePath: "/usr/local/"
  "linter-ui-default":
    panelHeight: 69
  "python-import-magic": {}
".python.regexp.source":
  editor:
    tabLength: 2
".python.source":
  editor:
    showInvisibles: true
    tabLength: 2
