[
  {
    title: "Linux Code Repo"
    paths: [
      "/Users/gabe/ldrive/code/stock_optimization"
      "/Users/gabe/ldrive/code"
      "/Users/gabe/code/autocomplete"
      "/Users/gabe/code/yoda"
    ]
    color: "green"
    devMode: true
  }
  {
    title: "Macbook Code Repo"
    paths: [
      "/Users/gabe/code/stock_optimization"
      "/Users/gabe/code/tensorflow_utils"
      "/Users/gabe/code/alpha_vantage"
      "/Users/gabe/code/Robinhood"
      "/Users/gabe/code/autocomplete"
      "/Users/gabe/code/jedi"
      "/Users/gabe/code/ptpython"
    ]
    color: "red"
    devMode: true
  }
]
